.main-container{"ng-app": "app.boardApp", "ng-controller": "BoardCtrl", "data-boardid": @board.id }
  .container
    .row
      .col-lg-12
        / Box Start
        .box
          .box-title.gray
            %span
              %a{"editable-text" => "board.title", :href => "javascript:void(0)", "onaftersave" =>"updateBoard()"} {{board.title}}
            - if current_user
              = link_to board_path(@board), method: :delete, id: 'delete-board' do
                %i.fa.fa-trash-o
          - if current_user
            .content
              %toggle-switch.switch-small{"ng-model" => "board.private", "off-label" => "Public", "on-label" => "Private", "ng-change" => "updateBoard()"}
              %span{"ng-show" => "board.private === false"}
                %i.fa.fa-link
                =t('.share_link')
                = @sharelink
    .row.boardAngular
      .col-lg-12.board
        .row
          .col-lg-3.col-md-6.col-sm-6{"ng-repeat" => "(listName, list) in board.tasks"}
            / Widget Box Start
            .box
              .box-title{class: "{{list.class}}"} 
                %span {{list.name}}
              .content
                %ul{"dnd-list" => "list.items", "dnd-drop"=>"dropCallback(index, item, listName)", "dnd-disable-if" => current_user ? '' : 'true === true'}
                  %li{"dnd-draggable" => "item", "dnd-effect-allowed" => "move", "dnd-moved" => "list.items.splice($index, 1)", "dnd-selected" => "board.selected = item", "ng-class" => "{'selected': board.selected === item}", "ng-repeat" => "item in list.items"}
                    {{item.title}}
                    - if current_user
                      %br
                      %a{href: "javascript:void(0)", "ng-click": "removeFromlist(list, $index, item)"}
                        =t('.remove')
              - if current_user
                .add-task.text-center
                  %a.remove{"data-target" => "#myModal", "data-toggle" => "modal", "ng-click" => "board.addlist = list;task.status = listName;task.board_id = board.id; task.title=''"}
                    %i.fa.fa-plus
                    = t('.add_task')
  #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#myModalLabel.modal-title 
            =t('.add_task_to') 
            {{board.addlist.name}}
          %form.simple-form{:novalidate => ""}
            .modal-body      
              =t('.title')
              %input{"ng-model" => "task.title", :type => "text", :id => "title"}          
            .modal-footer
              %input{"ng-click" => "createTask(task)", :type => "submit", :value => "Save"}/
            
     