.main-container{"ng-app": "app.boardApp", "ng-controller": "BoardCtrl" }
  .container
    .row
      .col-lg-12
        / Box Start
        .box
          .box-title.gray
            %span
              =@board.title 
              {{models.lists[0].items}}
            = link_to board_path(@board), method: :delete, id: 'delete-board' do
              %i.fa.fa-trash-o
          .content
            =@board.private
            
    .row.boardAngular
      .col-lg-12.board
        .row
          .col-lg-3.col-md-6.col-sm-6{"ng-repeat" => "(listName, list) in models.lists"}
            / Widget Box Start
            .box
              .box-title{class: "{{list.class}}"} 
                %span {{list.name}}
              .content
                %ul{"dnd-list" => "list.items"}
                  %li{"dnd-draggable" => "item", "dnd-effect-allowed" => "move", "dnd-moved" => "list.items.splice($index, 1)", "dnd-selected" => "models.selected = item", "ng-class" => "{'selected': models.selected === item}", "ng-repeat" => "item in list.items"}
                    {{item.title}}
              .add-task.text-center
                %i.fa.fa-plus
                Add task