.main-container{"ng-app": "app.boardApp", "ng-controller": "BoardCtrl", "data-boardid": @board.id }
  .container
    .row
      .col-lg-12
        / Box Start
        .box
          .box-title.gray
            %span
              =@board.title
            = link_to board_path(@board), method: :delete, id: 'delete-board' do
              %i.fa.fa-trash-o
          .content
            Privado ou não     
    .row.boardAngular
      .col-lg-12.board
        .row
          .col-lg-3.col-md-6.col-sm-6{"ng-repeat" => "(listName, list) in models.lists"}
            / Widget Box Start
            .box
              .box-title{class: "{{list.class}}"} 
                %span {{list.name}}
              .content
                %ul{"dnd-list" => "list.items", "dnd-drop"=>"dropCallback(index, item, listName)"}
                  %li{"dnd-draggable" => "item", "dnd-effect-allowed" => "move", "dnd-moved" => "list.items.splice($index, 1)", "dnd-selected" => "models.selected = item", "ng-class" => "{'selected': models.selected === item}", "ng-repeat" => "item in list.items"}
                    {{item.title}}
                    %a{href: "javascript:void(0)", "ng-click": "removeFromlist(list, $index, item)"}
                      Remover
              .add-task.text-center
                %a{"data-target" => "#myModal", "data-toggle" => "modal", "ng-click" => "models.addlist = list;task.status = listName;task.board_id = board; task.title=''"}
                  %i.fa.fa-plus
                  Add task
  #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4#myModalLabel.modal-title Add task to {{models.addlist.name}} list
          %form.simple-form{:novalidate => ""}
            .modal-body      
              Title:
              %input{"ng-model" => "task.title", :type => "text", :id => "title"}          
            .modal-footer
              %input{"ng-click" => "createTask(task)", :type => "submit", :value => "Save"}/
            
     