.btn {
  padding: 10px 25px;
  margin-bottom: 4px;
  margin-right: 4px;
  border: 0px;
  color: #ffffff;
  font-weight: bold;
}

.btn-lg, .btn-sm {
  min-width: 120px;
  font-size: 14px;
}

.btn-default {
  background-color: #bacad6;
}

.btn-primary {
  background-color: #8175c7;
  &:hover {
    background-color: #61589a;
  }
}

.btn-success {
  background-color: #a5c562;
}

.btn-info {
  background-color: #91dff3;
}

.btn-warning {
  background-color: #fdc554;
}

.btn-danger {
  background-color: #ff503f;
}

.btn {
  &.rounded {
    border-radius: 70px;
  }
  &.outline {
    color: #bacad6;
    border: 2px solid #bacad6;
    background-color: transparent;
    &.btn-primary {
      color: #8175c7;
      border: 2px solid #8175c7;
    }
    &.btn-success {
      color: #a5c562;
      border: 2px solid #a5c562;
    }
    &.btn-info {
      color: #91dff3;
      border: 2px solid #91dff3;
    }
    &.btn-warning {
      color: #fdc554;
      border: 2px solid #fdc554;
    }
    &.btn-danger {
      color: #ff503f;
      border: 2px solid #ff503f;
    }
  }
}

.btn-group > .btn {
  + .dropdown-toggle {
    border-left: 1px solid #dadada;
  }
  &:first-child {
    border-left-width: 2px;
  }
  border-width: 2px;
  border-left-width: 0px;
  border-right-width: 2px;
  &:last-child {
    border-left-width: 0px;
  }
}

.btn-wide {
  padding-left: 55px;
  padding-right: 55px;
}

/***** Effect Button *****/

.effect-button {
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
  padding: 15px 0px;
  margin: 10px 0px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  i {
    padding-right: 12px;
  }
  &.bounce-button {
    background-color: #198e32;
  }
  &.flash-button {
    background-color: #a78ed7;
  }
  &.pulse-button {
    background-color: #ef5233;
  }
  &.shake-button {
    background-color: #f7cc52;
  }
  &.swing-button {
    background-color: #3156a3;
  }
  &.tada-button {
    background-color: #c5d2e3;
  }
  &.wobble-button {
    background-color: #ff3399;
  }
  &.bouncein-button {
    background-color: #616161;
  }
  &.bounceindown-button {
    background-color: #42b3e5;
  }
  &.bounceinleft-button {
    background-color: #ff6600;
  }
  &.bounceinright-button {
    background-color: #70cdcf;
  }
  &.bounceinup-button {
    background-color: #638ca6;
  }
  &.fadein-button {
    background-color: #66cc66;
  }
  &.fadeinleft-button {
    background-color: #99ccff;
  }
  &.fadeout-button {
    background-color: #cc0099;
  }
  &.fadeoutright-button {
    background-color: #9e3d21;
  }
  &.flip-button {
    background-color: #91a1be;
  }
  &.flipinx-button {
    background-color: #50c3ca;
  }
  &.flipiny-button {
    background-color: #68a3c2;
  }
  &.lightspeedin-button {
    background-color: #6b7252;
  }
  &.lightspeedout-button {
    background-color: #7a4e68;
  }
  &.rotatein-button {
    background-color: #ff6457;
  }
  &.rotateindownleft-button {
    background-color: #748392;
  }
  &.rotateindownright-button {
    background-color: #e21d3c;
  }
  &.rotateinupleft-button {
    background-color: #007891;
  }
  &.rotateinupright-button {
    background-color: #ef528a;
  }
  &.slideindown-button {
    background-color: #c28bd6;
  }
  &.slideinleft-button {
    background-color: #34bedc;
  }
  &.slideinright-button {
    background-color: #ffb594;
  }
  &.hinge-button {
    background-color: #bb3694;
  }
  &.rollin-button {
    background-color: #b4d3d8;
  }
  &.rollout-button {
    background-color: #986c78;
  }
  &.rotateout-button {
    background-color: #d0783d;
  }
}