.spacer {
  height: 20px;
  display: block;
}
.responsive-menu {
  display: none;
  width: 100%;
  li {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: 1px 1px 2px $black_20;
    &.child {
      padding-left: 5px;
      background-color: $color_mirage_approx;
      a:before {
        content: '\f101';
        font-family: $font_2;
        padding-right: 15px;
        color: $color_link_hover;
      }
    }
    a {
      width: 100%;
      text-align: left;
      display: inline-block;
      padding: 5px 20px;
      i {
        padding-right: 20px;
      }
    }
  }
}
.responsive-menu-trigger {
  display: none !important;
  position: absolute;
  top: 25px;
  right: 20px;
  &:after {
    content: '\f039';
    font-family: $font_2;
    font-size: 24px;
    color: $white;
  }
}
.breadcrumb {
  background: transparent;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0;
  border-top: 0 solid $color_mercury_approx;
  margin-bottom: 0;
  i {
    font-size: 16px;
  }
  a {
    color: $color_link_text;
  }
  li.active {
    color: $color_sunset_orange_approx;
    font-weight: bold;
  }
  > li + li:before {
    content: '\f054';
    font-family: $font_2;
    color: $color_link_text;
    font-size: 10px;
    font-weight: 300;
  }
}
.sidebar {
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 500ms ease;
  .inner {
    padding: 20px;
  }
  .separator {
    margin: 0 0 20px 0;
    background-color: $color_raven_approx;
    height: 1px;
    width: 100%;
  }
  .progress-bar-container {
    margin-bottom: 15px;
    span {
      color: $color_raven_approx;
      display: block;
    }
  }
  .progress-bar {
    @extend %extend_2;
    .progress {
      @extend %extend_3;
      &.blue {
        background-color: $color_anakiwa_approx;
      }
      &.orange {
        background-color: $color_link_hover;
      }
      &.yellow {
        background-color: $color_saffron_mango_approx;
      }
    }
  }
}
.sidebar-collapsed {
  .sidebar {
    width: 50px;
    .main-menu li {
      position: relative;
      overflow: visible;
      span {
        display: none;
      }
      a {
        padding: 13px 5px;
        i {
          width: 100%;
        }
      }
      ul.submenu {
        display: none;
        position: absolute;
        top: 0;
        left: 48px;
        z-index: 99999;
        width: 201px;
        border-right: 1px solid $color_main_dark;
        li {
          height: 47px;
        }
      }
      &.has-submenu > a:after {
        content: '';
        float: none;
      }
    }
    > .inner {
      display: none;
    }
    .logo-container h1 {
      font-size: 13px;
    }
  }
  .sidebar-user-profile {
    display: none;
  }
  .main-container {
    margin-left: 50px;
  }
  .sidebar-left {
    height: 100%;
  }
  .top-bar.fixed {
    margin-left: 50px;
    padding-left: 50px;
  }
}
.sidebar-left {
  top: 0;
  left: 0;
  position: absolute;
  width: 250px;
  background-color: $color_main_dark;
  float: left;
  &.fixed {
    position: fixed;
    z-index: 9999;
  }
}
.logo-container {
  height: 80px;
  background-color: $color_link_hover;
  text-align: center;
  h1 {
    margin: 0;
    line-height: 80px;
    text-align: center;
    font-family: $font_3, $font_4;
    color: $white;
    display: inline-block;
    padding-bottom: 0;
  }
  > a {
    display: inline-block;
    margin: 0 auto;
  }
}
.sidebar-user-profile {
  padding: 20px;
  border-bottom: 1px dashed $color_link_text;
  .avatar {
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid $color_link_hover;
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;
  }
  .ul-icons {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    .user-info {
      color: $color_link_text;
      font-size: 14px;
    }
    .icon-list li {
      display: inline-block;
      margin-right: 10px;
      vertical-align: top;
      a {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        display: block;
        width: 25px;
        height: 25px;
        border: 1px solid $color_link_text;
        text-align: center;
        line-height: 22px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 300ms ease-in-out;
        &:hover {
          border-color: $color_link_hover;
        }
      }
      i {
        display: inline-block;
        font-size: 13px;
        text-align: center;
      }
    }
  }
}
.inbox-quota {
  .progress-bar-container {
    margin-bottom: 15px;
    span {
      color: $color_raven_approx;
      display: block;
    }
  }
  .progress-bar {
    @extend %extend_2;
    .progress {
      @extend %extend_3;
    }
  }
}
.main-menu {
  margin: 0;
  li {
    border-left: 2px solid $color_main_dark;
    overflow: hidden;
    display: block;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 300ms ease-in-out;
    a {
      padding: 13px 20px;
      display: inline-block;
      width: 100%;
      i {
        width: 30px;
        text-align: center;
      }
      &:hover {
        background-color: $mercury;
      }
    }
    &:hover {
      border-left: 2px solid $color_link_hover;
    }
    &.active {
      border-left: 2px solid $color_link_hover;
      a {
        background-color: $color_mirage_approx;
        color: $mercury;
        &:hover {
          background-color: $mercury;
        }
      }
      &:hover {
        background-color: $mercury;
      }
      &.has-submenu > a:after {
        content: '\f106';
      }
      ul.submenu {
        display: block;
      }
    }
    &.has-submenu > a:after {
      content: '\f107';
      font-family: $font_2;
      float: right;
      color: $white;
      font-size: 16px;
    }
    ul.submenu {
      background-color: $color_mirage_approx;
      display: none;
      li {
        a {
          border-top: 0 solid $mercury;
          color: $color_raven_approx;
          padding-left: 55px;
          &:hover {
            color: $mercury;
            background-color: $mercury;
          }
        }
        &:hover {
          border-left: 2px solid $color_mirage_approx;
        }
      }
    }
  }
}
.top-bar {
  height: 80px;
  background-color: $white;
  &.fixed {
    position: fixed;
    top: 0;
    margin-left: 250px;
    padding-right: 250px;
    width: 100%;
    z-index: 99999;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 300ms ease;
    .main-container {
      margin-left: 0;
    }
  }
  .icon-list li {
    line-height: 80px;
    display: inline-block;
    padding: 0 15px;
    i {
      color: $color_link_text;
      font-size: 18px;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: all 300ms ease;
    }
    a:hover i {
      color: $color_link_hover;
    }
  }
}
.content {
  padding-top: 0;
  &.fixed-top-bar {
    padding-top: 80px;
  }
}
.icon-list {
  .notification {
    padding: 0;
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 3px solid $white;
    background-color: $color_link_hover;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -8px;
  }
  li a {
    position: relative;
  }
}
.main-container {
  margin-left: 250px;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 500ms ease;
}
.main-container-top {
  margin-top: 15px;
}
.container {
  width: 100%;
}
.right-icons {
  text-align: right;
}
.image-header {
  height: 190px;
  position: relative;
  overflow: hidden;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: $color_charade_90_approx;
    z-index: 1100;
  }
  .background {
    height: 235px;
    background: $url_0 top left no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1000;
  }
  .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    h3 {
      margin: 0;
      color: $white;
      font-size: 32px;
      font-weight: bold;
    }
    h4 {
      margin: 0;
      color: $white;
      font-size: 14px;
    }
  }
  .holder {
    line-height: 235px;
    vertical-align: middle;
    height: 235px;
    padding: 0 25px;
    .header-widget {
      display: inline-block;
      width: 100%;
    }
    .inner {
      display: inline-block;
      width: 100%;
    }
  }
}
.header-widget {
  .icon {
    margin-left: -20px;
    color: $white;
    line-height: normal;
    font-size: 24px;
  }
  .description {
    color: $white;
    line-height: normal;
    font-size: 12px;
  }
}
input:focus {
  outline: none !important;
}

.sidebar-profile-image {
  width: 70px;
  height: 70px;
}

/* 
 * Responsive File
 */
@media (max-width: 1280px) {
  .widget-box .counter,
  .widget-box .text {
    width: 100%;
  }
  .widget-box .text {
    text-align: center;
  }
  .col-lg-4,
  .col-lg-8 {
    width: 100%;
  }
}
/*** 980px ***/
@media (max-width: 980px) {
  .widget-box {
    margin-bottom: 15px;
  }
  .widget-box .counter {
    width: 100px;
  }
  .widget-box .text {
    width: auto !important;
  }
  .widget-box .text {
    text-align: center;
  }
}
/*** 800px ***/
@media (max-width: 800px) {
  .image-header .holder .header-widget {
    display: none;
  }
  .widget-box .counter,
  .widget-box .text {
    width: 100% !important;
  }
  .widget-box .text {
    text-align: center;
    max-width: 100%;
  }
  .sidebar .sidebar-user-profile,
  .sidebar .inner,
  .sidebar .main-menu {
    display: none;
  }
  .sidebar-left {
    width: 100%;
    position: relative;
    float: none;
  }
  .main-container {
    margin-left: 0px;
  }
  .responsive-menu-trigger {
    display: block !important;
  }
  .top-bar.fixed {
    position: relative;
    margin-left: 0px;
    padding-right: 0px;
  }
  .content.fixed-top-bar {
    padding-top: 0px;
  }
  .fixed-sidebar .top-bar {
    margin-top: 80px;
    position: relative;
  }
  .top-bar.fixed {
    top: 80px;
    position: fixed;
  }
  .content.fixed-top-bar {
    padding-top: 160px;
  }
  .fixed-sidebar-header .responsive-menu {
    margin-top: 80px;
  }
  .sidebar-collapsed .sidebar {
    width: 100%;
  }
  .sidebar-collapsed .sidebar .logo-container h1 {
    font-size: 36px;
  }
  .sidebar-collapsed .main-container {
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  .top-bar {
    display: none;
  }
  .fixed-sidebar-header .main-container,
  .fixed-sidebar .main-container {
    margin-top: 80px;
  }
  .content.fixed-top-bar {
    padding-top: 0px;
  }
  .fixed-sidebar-header .responsive-menu {
    margin-top: 0px;
  }
  .login-box {
    margin-top: 120px !important;
  }
  .ui-tabs-vertical.align-right .ui-tabs-nav,
  .ui-tabs-vertical .ui-tabs-nav,
  .ui-tabs .ui-tabs-panel {
    float: none !important;
    width: 100% !important;
  }
  .ui-tabs-vertical .ui-tabs-nav {
    right: 0px;
  }
  .box > .content {
    overflow: hidden;
  }
}

/**** Box ****/

.inbox.box {
  margin: 10px 0px;
}

.box {
  margin: 25px 0px;
}

.box-title {
  border-radius: 2px 2px 0px 0px;
  padding: 13px 20px 0px 20px;
  background-color: #ffffff;
  &.green {
    background-color: #a5c562;
    padding-bottom: 13px;
  }
  &.red {
    background-color: #ff503f;
    padding-bottom: 13px;
  }
  &.gray {
    background-color: #252b33;
    padding-bottom: 13px;
  }
  &.light-blue {
    background-color: #91dff3;
    padding-bottom: 13px;
  }
  &.yellow {
    background-color: #fdc554;
    padding-bottom: 13px;
  }
  &.orange {
    background-color: #25323f;
    padding-bottom: 13px;
  }
  &.purple {
    background-color: #8175c7;
    padding-bottom: 13px;
  }
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  span {
    &.gray {
      color: #8e9aa4 !important;
    }
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    &.subtitle {
      color: #ffffff;
      font-size: 12px;
    }
  }
  &.gray > a {
    color: #ffffff;
  }
  > a {
    float: right;
    color: #252b33;
    opacity: 0.3;
    font-size: 16px;
    padding-top: 5px;
    &:hover {
      color: #ffffff;
    }
  }
}

.box > .content {
  padding: 15px 20px;
  background: #ffffff;
  border-radius: 0px 0px 2px 2px;
  -webkit-box-shadow: 0px 2px 0px 0px #e1e5e6;
  -moz-box-shadow: 0px 2px 0px 0px #e1e5e6;
  box-shadow: 0px 2px 0px 0px #e1e5e6;
  overflow: hidden;
  &.no-background {
    background: transparent;
    box-shadow: none;
  }
  &.no-padding {
    padding: 0px;
  }
}

/**** Widget Boxes ****/

.widget-box {
  border-radius: 2px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 0px 0px #e1e5e6;
  -moz-box-shadow: 0px 2px 0px 0px #e1e5e6;
  box-shadow: 0px 2px 0px 0px #e1e5e6;
  .counter {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    &.green {
      background-color: #a5c562;
    }
    &.red {
      background-color: #ff503f;
    }
    &.blue {
      background-color: #91dff3;
    }
    &.yellow {
      background-color: #fdc554;
    }
  }
  .text {
    display: inline-block;
    max-width: 230px;
    height: 100px;
    vertical-align: top;
    line-height: 100px;
    padding: 0px 15px;
    div {
      display: inline-block;
      width: 100%;
      vertical-align: middle;
      line-height: normal;
      font-size: 20px;
      color: #8e9aa4;
      font-weight: 300;
      span {
        display: block;
        font-size: 15px;
      }
    }
  }
}

.board {
  .box {
    .content {
      min-height: 300px;
    }    
  }
}